* {
  color: #00263c;
}

h1, .h1 {
  /*basic heading styles*/
  font-size: 2rem;
}

h2, .h2 {
  /*basic heading styles*/
  font-size: 1.8rem
}

h3, .h3 {
  /*basic heading styles*/
  font-size: 1.6rem
}

h4, .h4 {
  /*basic heading styles*/
  font-size: 1.5rem
}

h5, .h5 {
  /*basic heading styles*/
  font-size: 1.2rem
}

h6, .h6 {
  /*basic heading styles*/
  font-size: 1rem
}

.button {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 25px;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
  background-color: #00a2ff;
}

.button:hover {
  color: #00a2ff;
  background-color: #ffffff;
}

.two-columns {
	columns: 2;
}

.three-columns {
	columns: 3;
}


small,
.small {
  font-size: 80%;
}

.text-large {
  font-size: 125%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-justify {
  text-align: justify;
}

table th,
table td {
  padding: 0.5rem;
}
