.header {
  position: relative;
  z-index: 100;
  background: #fff;
  padding: 20px 0px;

  .grid-container {
    overflow: visible;
  }

  .grid-x {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@include breakpoint(medium down) {
  .logo {
    width: 200px;
    height: auto;
  }

  .title-bar {
    background: transparent;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    padding: 15px 0;
    min-height: 50px;
    pointer-events: auto;

    .menu-icon {
      width: 30px;
      height: 20px;
      cursor: pointer;
      position: relative;
      margin-right: 10px;
      z-index: 10;

      span {
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background: $blue;
        top: 0;
        transition: all 0.3s ease;
        box-shadow: 0 8px 0 $blue, 0 16px 0 $blue;
      }

      &.is-active::after {
        background: $blue;
        box-shadow: none;
        top: 8px;
        transform: rotate(45deg);
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background: $blue;
          transform: rotate(-90deg);
        }
      }
    }

    .title-bar-title {
      color: $blue;
      font-weight: bold;
      line-height: 1;
    }
  }

  .top-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $blue;
    z-index: 999;
    padding: 0;

    &.stacked-for-medium,
    &[style*='display: block'] {
      display: block !important;
    }

    .header-menu {
      flex-direction: column;
      margin: 0;

      li {
        width: 100%;
        a {
          color: $white !important;
          padding: 15px 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          background: transparent !important;
          display: block;

          &:hover {
            background: $dark_blue !important;
          }
        }

        .submenu {
          background: $primary;
          border: none;
          a {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

@include breakpoint(large) {
  .top-bar {
    display: flex !important;
    background: transparent;
  }

  .header-menu.menu {
    background: transparent;
    li {
      > a {
        color: $dark_blue;
        background: transparent !important;
        padding: 0.7rem 1.2rem;
        &:hover {
          color: $primary;
        }
      }

      .submenu {
        background: $white;
        border: 1px solid $white;
        li a {
          color: $dark_blue !important;
          &:hover {
            background: #f9f9f9 !important;
            color: $primary !important;
          }
        }
      }
    }
  }
}
