// Project variables
// Note: Prefer using framework variables

//$blue: #1a608b;
//
//$text-color: #333;

//$primary-color: $blue;
//$sub-color: $primary-color;

$font: 'Open Sans', serif;
//$sub-font: $font;

// Project mixins

// Custom fonts
:root {
  --content-size: 80rem;
}

$primary-color: #00a2ff;
$primary: #00a2ff;
$blue: #006ba8;
$dark_blue: #00263c;
$white: #ffffff;
$gray: #cbdae2;
$black: #000000;
